
<%# ABOUT %>
  
<div class="center jumbotron text-center pt-5" style="background:url(/assets/02-1.jpeg); background-size:cover; height: 23vh;">
  <div class="container">
    <h1 class="text-white ">ABOUT</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <aside class="col-sm-3 position-fixed">
      <ul class="list-unstyled" style="text-color:black;">
        <Li><%= link_to 'TEST1', { anchor: "test1" },{:style=>'color:gray;'} %></Li>
        <Li><%= link_to 'TEST2', { anchor: "test2" },{:style=>'color:gray;'} %></Li>
      </ul>
    </aside>
    
    <div class="offset-sm-3 col-sm-9">
      <h3 id="test1"  class="text-center mt-5">Jamtun's Story</h3>
      <img src="/assets/store_top.jpg" class="img-fluid mb-5" alt="">
      
      <h4 class="mb-4">フェアトレードブランドでつなぐ、作り手とお客さま</h4>
        <p>はじめまして。アフリカ布ブランドjam tun (ジャムタン)　発起人の田賀朋子と申します。</p>
        <p>大学院修了後、青年海外協力隊に参加し、そこで西アフリカのセネガル共和国に渡ったことをきっかけにブランドを立ち上げ、２年半が経ちました。</p>
        <p>現在は岡山を拠点に、さまざまなイベントでの出店販売や、ワークショップの開催や講演を通して、アフリカやセネガルの魅力の発信に取り組んでいます。</p>
        <p>セネガルの仕立屋さんが心をこめて作っている、鍋つかみやリバーシブルトート、ポーチ、洋服、など。作り手も、売り手も、買い手も、使い手も、関わる人全員の幸せを彩る商品をお届けしています。</p>
        <p>全て一点物の商品は特別感があり、大量生産の商品とは違った魅力を感じていただきながら、愛着を持って大切にご使用いただいています。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-3.jpg" class="img-fluid" alt="">
          <p class="small text-muted">私（真ん中）とお客さま。多くの方の支えもあり、「ESD岡山アワード2018」では岡山地域賞を、<br>「矢掛町協働のまちづくり表彰2018」では、 末永三喜太賞（教育部門）をいただきました。</p>
        </div> 
        
      <h4 class="mb-4">平和を願って。“ジャムタン”に込めた想い。</h4>
        <p>「ジャムタン」とは、セネガルの現地語のひとつであるプラール語です。日々の挨拶の返しとして使われる言葉で、「平和しかない」という意味をもっています。</p>
        <p>「仕事は順調？」「ジャムタン（平和しかないよ）」<br>
          「家族は元気？」「ジャムタン（みんな平和だよ）」</p>
        <p>毎日何十回と使うこのフレーズ、耳にするだけで本当に平和で平穏な気分になる魔法の言葉です。</p>
        <p>紛争や貧困といったネガティブなアフリカのイメージではなく、笑顔と活気にあふれた魅力あるアフリカを知ってほしい。そんな願いを込めて、この言葉をブランド名にしています。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">セネガルの子供たち。村のあちこちで、「ジャムタン」という言葉を耳にします。</p>
        </div> 
        
        <p>青年海外協力隊での経験をきっかけに立ち上げた「ジャムタン」。</p>
        <p>スタート当初は、セネガルの国内向けに雑貨を作り現地で販売をしていました。日本に帰国してからはポーチやトートバッグなど雑貨をはじめ、少しずつ日本人向けに商品を改善・開発していき、アフリカ布で仕立てた洋服なども取り扱っています。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">アフリカ布のカラフルな色合いは、見ているだけで元気が出ます。</p>
        </div> 
        
        <p>大切にしているのは、どこの誰が作ったものかわかるからこその「つながり」です。</p>
        <p>セネガルの仕立屋さんにはもちろん製作費を支払うので収入の向上に繋がりますが、支援になるからと妥協した商品を売るのではなく、質もよく、デザインも良い、可愛いから・素敵だから買いたいと思っていただける商品を提供するという点を意識しています。</p>
        <p>お互いの顔が見えるよう、お客さまが実際に商品を使われている写真や洋服をご着用されている写真を作り手の仕立屋さんたちにも送っています。これが、仕立屋さんたちの活動意欲を高め、モチベーション高く作業に取り掛かってくれています。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">みなさんそれぞれ、購入してくれた服を着てくれています。</p>
        </div> 
        
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">お客さまからいただいたジャムタン商品のご着用写真の一部です。<br>
          仕立屋さんたちは日本のお客さまの様子を見てとても喜んでおり、やる気や向上心につながっています。</p>
        </div> 
      
      <h4 class="mb-4">貧困や健康被害を引き起こす、ゴミ問題。<br>
      その現実に立ち向かうために始めた、廃材利用。</h4>
        <p>ジャムタンをはじめたきっかけについて、少しお話しさせてください。</p>
        <p>私が、青年海外協力隊で赴任することになったのは、西アフリカのセネガル共和国。</p>
        <p>その中でも、特に暑さが過酷で首都からも遠く離れ、セネガル人でさえもなかなか足を運ぶことのないシンチューマレムという農村が活動拠点でした。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">シンチューマレムでお世話になった家族と。</p>
        </div> 
        
        <p>そこで稲作、改良かまど、女性団体支援、孤児院支援、日本語教室など色々と取り組む中で、メインに行っていたのがゴミ問題へのアプローチです。</p>
        <p>セネガルに着いて衝撃を受けたことの一つは、街中にたくさんのゴミが散乱していたこと。</p>
        <p>「アフリカ」と聞くと、サファリなど壮大な自然をイメージする人も多いかもしれませんが、現実はイメージとは違い、都市部から遠く離れたシンチューマレム村でさえ、たくさんのゴミが落ち、ひどいところには山のように廃棄物が溜まっていました。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">豊かな自然の中に、散乱するゴミ。何だかその景色は異様でした。</p>
        </div> 
        
        <p>セネガルの人たちは基本的にはとても綺麗好きです。一日に何度も身の回りを掃除していましたが、集めたごみは自分たちで燃やすか、空地へ捨てに行くしかゴミの処理方法がありません。</p>
        <p>自治体にはお金がなく、ゴミ箱も、ゴミ収集車も、焼却炉も、ゴミ処理施設も、何一つありませんでした。</p>
        <p>雨季には、ゴミに水が溜まり、そこでマラリアの病原菌を持った蚊が発生して毎年多くのマラリア患者が発生します。乾季には砂が溜まり、ゴミと接触した不衛生な砂ぼこりとなり住民の目やのどを痛めます。</p>
        <p>家畜の牛や羊が、エサと誤りゴミをのどに詰まらせて死んでしまうこともあり、家庭にはとても大きな損失になり一気に貧困へと落ちてしまいます。</p>
        <p>ゴミ問題ひとつが、健康被害や、貧困につながってしまう現実をリアルに見たことで、「なんとかしたい！」と思い、色々と考えて取り組んだのが、廃材を利用したものづくりによる啓発活動でした。</p>
        
      <h4 class="mb-4">ゴミは「ゴミ」じゃなかった！<br>
      リサイクルと収入向上を目指して、かばんづくりを開始。</h4>
        <p>村のゴミを見ていくうちに気づいたのが、主に捨てられていたのが飲料水のパウチされていたビニール袋と、洋服を縫製した残りのハギレ布だということ。</p>
        <p>セネガルで自分好みの布を買い、それを仕立屋さんに持って行き、好みのデザイン・寸法のオーダーメイド服をつくるという素敵な文化があります。</p>
        <p>洋服になると、とてもカラフルで素敵なアフリカ布。カラフルなゴミ山があると思ったら、仕立屋さんたちが、使えないような小さな布をたくさん捨てていました。</p>
        <p>可愛い布が捨てられちゃうなんてもったいない！そう思い、たくさんの仕立屋さんの作業場に足を運んでは協力してくれる人を探し、ビニール袋と布を組み合わせた「かばんづくり」を提案しました。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">小さい布も、パッチワークにすればさらにカラフルで素敵な作品になり、<br>
          そしてビニールと組み合わせれば、雨にも強い丈夫なものができます。</p>
        </div> 
        
        <p>はじめはリサイクルの作品を見てもらい、ゴミを捨てるということについて考えるきっかけにしてもらうつもりでした。機能的で色鮮やかな作品は、現地で話題となり、買いたいという人がたくさん出てきたため、単なる啓発活動ではなく収入の向上も目指した活動として、販売にも力を入れていきました。</p>
        <p>2年間の活動期間中、数千枚のビニール袋をリサイクルし、売り上げも上々。</p>
        <p>それまで、仕立屋さんたちは、縫う技術はあっても、毎日仕事があるわけではなく、収入は限られていました。彼らはこの活動で収入がアップし、さらに自分たちが作ったものが売れるということで仕事への自信や、やりがいを感じてくれるようになりました。</p>
        <div class="" style="text-align : center;">
          <img src="/assets/02-4.JPG" class="img-fluid" alt="">
          <p class="small text-muted">仕事量が不安定な仕立屋さん。空いている時間を使って収入アップにつながりました。</p>
        </div> 
        
        <p>利益も少しずつ出てきて、現地では活動に加わりたいという新たな若者や、「自分は縫えないけど…」と言いながら、材料となるビニール袋を集めてくれる人が出てくるようになりました。</p>
        <p>仕立屋さんたちも、もっと技術を身につけたいから服飾の専門学校へ行きたいとやる気を語ってくれるなど、収入が増えるという面だけではない良い影響も現れています。</p>
        <p>特に頑張っている、制作チームリーダーのクイエをご紹介します。</p>
      
      
      <h3 id="test2"  class="text-center mt-5">Artisans in Senegal</h3>
      <img src="/assets/store_top.jpg" class="img-fluid mb-5" alt="">
      
      <h4 class="mb-4">紹介文ー見出し</h4>
        <p>紹介文ー内容</p>
      
       
    </div>
  </div>
</div>