<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="/assets/jamtun_logo.png" width="50" height="50" alt=""></a>
    <%#
    <a class="navbar-brand" href="/abouts">ABOUT</a>
    <a class="navbar-brand" href="https://jamtun.stores.jp">ONLINE STORE</a>
    %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="/abouts" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="https://jamtun.stores.jp" class="nav-link">ONLINE STORE</a></li>
        <li class="nav-item"><%= link_to '管理者用ページ', login_path, class: 'nav-link' %></li>
      </ul>
    </div>
  </nav>
</header>